#
# dmrirc.example
#
# This file contains commands that will be run by trac-all before an analysis.
# It is used to set all parameters needed for the analysis.
#
# Remove a parameter from your dmrirc file if you want use the default value.
# Parameters that don't have default values must be specified.
#
# Any other commands that you might want to run before an analysis can be added
# to this file.
#
# Original Author: Anastasia Yendiki
# CVS Revision Info:
#    $Author: ayendiki $
#    $Date: 2013/02/16 22:49:06 $
#    $Revision: 1.3.2.4 $
#
# Copyright © 2011 The General Hospital Corporation (Boston, MA) "MGH"
#
# Terms and conditions for use, reproduction, distribution and contribution
# are found in the 'FreeSurfer Software License Agreement' contained
# in the file 'LICENSE' found in the FreeSurfer distribution, and here:
#
# https://surfer.nmr.mgh.harvard.edu/fswiki/FreeSurferSoftwareLicense
#
# Reporting: freesurfer@nmr.mgh.harvard.edu
#
#

setenv SUBJECTS_DIR X
set dtroot = X
set subjlist = (X)
#Longitudinal base template subject IDs (one for each time point above)
#set baselist = ( huey \
#                 huey \
#                 dewey \
#                 dewey \
#                 louie \
#                 louie )
set runlist = (1)
set dcmroot = X
set dcmlist = (X)
set bvecfile = X
set bvalfile = X
set nb0 = X
#set dob0 = 0
#set b0mlist = (huey/fmag/XXX-1.dcm dewey/fmag/XXX-1.dcm louie/fmag/XXX-1.dcm)
#set b0plist = (huey/fphas/XXX-1.dcm dewey/fphas/XXX-1.dcm louie/fphas/XXX-1.dcm)
#set echospacing = 0.7
set doeddy = X
set dorotbvecs = X
set thrbet = X
set doregflt = 1
set doregbbr = 1
set doregmni = 1
#set mnitemp = $FSLDIR/data/standard/MNI152_T1_1mm_brain.nii.gz
#set doregcvs = 0
#set cvstemp = donald
#set cvstempdir = /path/to/cvs/atlases/of/ducks
#set usemaskanat = 1
#set pathlist = ( lh.cst_AS rh.cst_AS \
#                 lh.unc_AS rh.unc_AS \
#                 lh.ilf_AS rh.ilf_AS \
#                 fmajor_PP fminor_PP \
#                 lh.atr_PP rh.atr_PP \
#                 lh.ccg_PP rh.ccg_PP \
#                 lh.cab_PP rh.cab_PP \
#                 lh.slfp_PP rh.slfp_PP \
#                 lh.slft_PP rh.slft_PP )

#set ncpts = (6 6 5 5 5 5 7 5 5 5 5 5 4 4 5 5 5 5)
#set trainfile = $FREESURFER_HOME/trctrain/trainlist.txt
#set nstick = 2
#set nburnin = 200
#set nsample = 7500
#set nkeep = 5
# Reinitialize path reconstruction?
# This is an option of last resort, to be used only if one of the reconstructed
# pathway distributions looks like a single curve. This is a sign that the
# initial guess for the pathway was problematic, perhaps due to poor alignment
# between the individual and the atlas. Setting the reinit parameter to 1 and
# rerunning "trac-all -prior" and "trac-all -path", only for the specific
# subjects and pathways that had this problem, will attempt to reconstruct them
# with a different initial guess.
# Default: 0 (do not reinitialize)
#set reinit = 0
